---
interface Props {
  seed: string;
}

import { generateGradient } from "../lib/colorUtils";

const { seed } = Astro.props;
---

<div
  style={`background: linear-gradient(30deg, ${generateGradient(
    "dark",
    seed
  ).join(", ")});`}
>
</div>

<style>
  div {
    aspect-ratio: 1;
    height: 50px;
    border-radius: 16px 0px 16px 16px;
  }
</style>
