---
interface Props {
  links: {
    title: string;
    href: string;
  }[]
}

const {links} = Astro.props;
---

<div>
  {links.map(link => <a href={link.href}>{link.title}</a>)}
</div>

<style>
  div {
    display: flex;
    gap: 1rem;
  }

  @media (max-width: 600px) {
    div {
      flex-direction: column;
    }
  }
</style>
